*.o
*.op
*.ot
a.out
ftrace
uftrace
ftrace.dir
ftrace.dir.old
ftrace.data
ftrace.data.old
uftrace.data
uftrace.data.old
!gdb/uftrace/*.py
libmcount.so
libmcount-*.so
libcygprof.so
libcygprof-nop.so
gmon.out
tests/t-*
tests/arch/*/t-*
tests/*.so
check-deps/*
!check-deps/*.c
!check-deps/Makefile*
FLAGS
version.h
.config
.build/
GPATH
GRTAGS
GTAGS
TAGS
tags
cscope.*
*.pyc
*.sw[opn]
*.patch
*.orig
*.gcda
*.gcno
misc/demangler
misc/symbols
argp/aclocal.m4
argp/argp-test
argp/autom4te.cache/
argp/compile
argp/configure
argp/config.h
argp/config.h.in
argp/config.h.in~
argp/config.log
argp/config.status
argp/libargp.a
argp/Makefile
argp/Makefile.in
argp/missing
argp/stamp-h1
argp/testsuite/.deps/
argp/testsuite/Makefile
argp/testsuite/Makefile.in
argp/testsuite/ex1
argp/testsuite/ex3
argp/testsuite/ex4
argp/.deps/
