*.a
*.o
*.op
*.ot
*.oy
a.out
ftrace
uftrace
ftrace.dir
ftrace.dir.old
ftrace.data
ftrace.data.old
uftrace.data
uftrace.data.old
!gdb/uftrace/*.py
libmcount.so
libmcount-*.so
libcygprof.so
libcygprof-nop.so
uftrace_python.so
gmon.out
tests/t-*
tests/arch/*/t-*
tests/*.so
check-deps/*
!check-deps/*.c
!check-deps/Makefile*
FLAGS
version.h
.config
.cache
.clangd/
.vscode
.build/
GPATH
GRTAGS
GTAGS
TAGS
tags
cscope.*
compile_commands.json
*.pyc
*.sw[opn]
*.patch
*.orig
*.gcda
*.gcno
*.cstr
misc/demangler
misc/symbols
misc/dbginfo
misc/bench
