*.o
*.op
a.out
ftrace
ftrace.dir
ftrace.dir.old
ftrace.data
ftrace.data.old
libmcount.so
libmcount-*.so
libcygprof.so
libcygprof-nop.so
gmon.out
tests/t-*
tests/arch/*/t-*
tests/libabc_test_lib.so
config/*
!config/*.c
!config/Makefile*
FLAGS
version.h
.config
