#!/usr/bin/make -f
#
# don't use $(MAKE) for the sub-makes here; having MAKEFLAGS=w active for
# config/Makefile makes its subshell `make` invocation produce output, which
# causes Make to try and parse that output as Makefile contents, which breaks.

%:
	dh $@

MAKEVARS := \
	V=1 \
	DESTDIR=$(CURDIR)/debian/tmp/ \
	CFLAGS_uftrace=-fPIE \
	CFLAGS_traceevent=-fPIE \
	LDFLAGS_uftrace=-pie

override_dh_auto_configure:
	LDFLAGS=-Wl,-z,now,-z,relro ./configure --prefix=/usr --libdir=/usr/lib/uftrace

override_dh_auto_build:
	MAKEFLAGS= make $(MAKEVARS)

override_dh_auto_install:
	MAKEFLAGS= make install $(MAKEVARS)

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	MAKEFLAGS= make test $(MAKEVARS) CFLAGS_unittest=-DUFTRACE_TEST_SUPPRESS_COLORS
endif

override_dh_auto_clean:
	MAKEFLAGS= make clean
	$(RM) .config
