#!/usr/bin/make -f

# verbose build output
export V=1

# build with PIE explicitly where appropriate
export CFLAGS_uftrace=-fPIE
export CFLAGS_traceevent=-fPIE
export LDFLAGS_uftrace=-pie

# no colors in test executable
export TESTARG=-n

# don't put current build paths in executables
export CFLAGS_configure=-ffile-prefix-map=$(CURDIR)=.

%:
	dh $@

ifneq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
# suppress man page generation
export has_pandoc=no
endif

override_dh_auto_configure:
	LDFLAGS=-Wl,-z,now,-z,relro CFLAGS=$(CFLAGS_configure) ./configure --prefix=/usr --libdir=/usr/lib/uftrace

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	$(MAKE) -j1 test
endif

override_dh_auto_clean:
	dh_auto_clean
	$(RM) .config
	$(MAKE) -C check-deps check-clean
